FO_IP=timbuktu.fortressone.org
FO_HOSTNAME="FortressOne Timbuktu"
FO_RCON_PASSWORD=rc0n_p455w0rd
FO_ADMINPWD=adm1n_p455w0rd
FO_PASSWORD=none
S3_AWS_SECRET_ACCESS_KEY=asdliWA56g54455nbgfdbtrBTREBRBETRT54t434
S3_AWS_ACCESS_KEY_ID=ADSJAIDJSKAJDKSAJDKK
S3_DEMO_URI="s3://fortressone-demos/timbuktu/"
S3_STATS_URI="s3://fortressone-stats/timbuktu/"
